html, body {margin:0;padding:0;height:100%;}


#root {
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: darkseagreen;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.notificationicon {
  height: 20px;
  padding-right: 30px;
  cursor: pointer;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.eventname {
  resize: none;
  background-color: darkseagreen;
}

.eventdescription {
  resize: none;
  background-color: darkseagreen;
}

.eventsTable {
  margin: auto;
  width: 50%;
}

.scrollTable {
  overflow-y: scroll;
  height: 430px;
  width: 100%;
}

.tableall {
  width: 100%;
}

.navbarcust {
  background-color: darkolivegreen !important;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(to bottom, #77914b 0, #77914b 100%) !important;
}

.logout {
  color: black;
  background-color: black;
}

.modal-body
{
  background-color: olive !important;
  border-color: olive !important;
  text-align: center;
}

.modal-header {
  border-color: olive !important;
  background-color: olive !important;
  text-align: center;
}

.modal-footer {
  background-color: olive !important;
  border-color: olive !important;
}

.overlaytrigger { z-index: 1151 !important; }


.eventparent {
  height: 90vh;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.eventinfo {
  height: 100%;
  width: 80%;
}

.attendingbarparent {

  border: black;
  border-style: solid;
  border-width: thin !important;
  border-bottom: none;
  border-top: none;
  border-right: none;
  position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;  
}

.homebutton{
  cursor: pointer !important;
}

.homebutton:hover{
  color: red !important;
}

.eventPageName {
  text-decoration: underline;
  font-size: 30px;
}

.eventPageCreator {
  width: 20%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  font-size: 20px;
}

.eventPageCreatorName {
}

.eventPageDescription {
  overflow-y: auto;
  margin: auto;  
}


.attendingBar {
  flex: 1;
  height: 100%;
  display: block !important;
  overflow-y: auto;
}

.privatetooltip{
  width:fit-content;
}

.invitepeoplebutton {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.invitepeoplebutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.invitepeoplebutton:active {
	position:relative;
	top:1px;
}

.modal-body-invite
{
  background-color: lightgreen !important;
  border-color: lightgreen !important;
  text-align: center;
}

.modal-header-invite {
  border-color: lightgreen !important;
  background-color: lightgreen !important;
  text-align: center;
}

.modal-footer-invite {
  background-color: lightgreen !important;
  border-color: lightgreen !important;
}

.invitebuttonaccept {
  cursor: pointer;
}

.invitebuttonaccept:hover, .invitebuttondeny:hover {
  outline-color: orangered;
  outline-width: thin;
  outline-style: solid;
  background-color: rgb(104, 177, 104);
}

.invitebuttondeny {
  cursor: pointer;
}

