html, body {margin:0;padding:0;height:100%;}


#root {
  min-height: 100vh;
}

.App {
  text-align: center;
  background-color: darkseagreen;
  display:;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.eventname {
  resize: none;
  background-color: darkseagreen;
}

.eventdescription {
  resize: none;
  background-color: darkseagreen;
}

.eventsTable {
  margin: auto;
  width: 50%;
}

.scrollTable {
  overflow-y: scroll;
  height: 430px;
  width: 100%;
}

.tableall {
  width: 100%;
}

.navbarcust {
  background-color: darkolivegreen !important;
}

.navbar,
.navbar-default {
  background-image: linear-gradient(to bottom, #77914b 0, #77914b 100%) !important;
}

.logout {
  color: black;
  background-color: black;
}

.modal-body
{
  background-color: olive !important;
  border-color: olive !important;
  text-align: center;
}

.modal-header {
  border-color: olive !important;
  background-color: olive !important;
  text-align: center;
}

.modal-footer {
  background-color: olive !important;
  border-color: olive !important;
}

.eventparent {
  height: 90vh;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.eventinfo {
  height: 100%;
  width: 75%;
  background-color: blue !important;
}

.attendingbarparent {
  position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: red;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
}

.homebutton{
  cursor: pointer !important;
}

.homebutton:hover{
  color: red !important;
}

.eventPageName {
  background-color: orange;
}

.eventPageCreator {
  background-color: purple;
}

.eventPageDescription {
  background-color: blue;
}

.attendingBar {
  background-color: yellow;
  position: relative;
  flex: 1;
  height: 100%;
}